<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row justify-content-center vh-100">
    <div class="col-12 col-md-6 ps-0 img">
    </div>
    <div class="col-12 col-md-6 m-auto">
      <form (ngSubmit)="onSubmitForm()" class="mt-5 px-5">
        <h1>Enter Your Email To Reset The Password</h1>
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput placeholder="john@mark.com" [formControl]="email">
          <mat-error *ngIf="email.invalid">Invalid Email</mat-error>
        </mat-form-field>
        <button type="submit" class="btn btn-primary rounded-pill px-5 py-2" [disabled]="email.invalid">Send</button>
      </form>
    </div>
  </div>
</div>