<div class="m-auto my-5 container">
  <h1 class="text-center mb-4">Forget Password</h1>
  <form [formGroup]="forgetPassword" class="mat-elevation-z2 p-3" (ngSubmit)="onForgetPasswordSubmit()">
    <mat-form-field class="w-100">
      <mat-label>Email</mat-label>
      <input matInput type="email" id="email" formControlName="email" required>
      <mat-error *ngIf="forgetPassword.get('email')?.invalid && (forgetPassword.get('email')?.dirty || forgetPassword.get('email')?.touched)">
        Email is required.
      </mat-error>
    </mat-form-field>
    <div class="text-center text-white">
      <div class="my-2">
        <button mat-raised-button color="primary" [disabled]="loading || forgetPassword.invalid">
          <ng-container *ngIf="loading == false">Reset Password</ng-container>
          <ng-container *ngIf="loading == true"><mat-spinner diameter="20"></mat-spinner></ng-container>
        </button>
      </div>
    </div>
  </form>
</div>
