<swiper-container>
    <swiper-slide class="m-2">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>
                <img src="path/to/logo.png" alt="AI Arab Logo" class="logo">
                <span>AI Arab</span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="content">
                <span class="test-count">82 Tests</span>
                <div class="ratings">
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                  <mat-icon>star</mat-icon>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Branch 1</button>
              <button mat-icon-button>
                <mat-icon>location_on</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
          
      </swiper-slide>
    <ng-container *ngFor="let item of lab">
  
    </ng-container>
  </swiper-container>