<div class="lab">
  <div class="container p-5 ">
    <div class="d-flex justify-content-between">
      <h1 class="fs-1 fw-bold py-4">Shop By Lab</h1>
      <a routerLink="/labs" class="text-decoration-none text-danger fs-5">see all <i class="bi bi-arrow-right"></i> </a>

    </div>
    <div class="row g-4">
      <div class="col-12 col-md-6">
        <div class="d-flex align-items-center gap-4 bg-light p-4 rounded-5 flex-wrap">
          <img src="../../../assets/labs/burg.png" alt="">
          <div class="content">
            <p class="name fs-4">Elburg Labs</p>
            <div class="contact-info flex-wrap d-flex gap-3">
              <p class="phone text-black-50 text-nowrap"> <i class="bi bi-telephone-fill text-danger "></i> +01129398209
              </p>
              <a href="mailto:huss@gmail.com" class="text-decoration-none text-black-50 text-nowrap">
                <i class="bi bi-envelope-fill text-danger"></i> huss&#64;gmail.com</a>
            </div>
            <p class="location text-black-50">
              <i class="bi bi-geo-alt-fill text-danger"></i>
              Ramsis,Cairo
            </p>
              <button class="btn btn-outline-primary mt-3 rounded-pill">CONTACT</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex align-items-center gap-4 bg-light p-4 rounded-5 flex-wrap">
          <img src="../../../assets/labs/alfa.png" alt=""  >
          <div class="content">
            <p class="name fs-4">Alfa Labs</p>
            <div class="rate d-flex gap-1">
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </div>
            <div class="contact-info flex-wrap d-flex gap-3">
              <p class="phone text-black-50 text-nowrap"> <i class="bi bi-telephone-fill text-danger "></i>
                +01129398209
              </p>
              <a href="mailto:huss@gmail.com" class="text-decoration-none text-black-50 text-nowrap">
                <i class="bi bi-envelope-fill text-danger"></i> huss&#64;gmail.com</a>

            </div>
            <p class="location text-black-50">
              <i class="bi bi-geo-alt-fill text-danger"></i>
              Ramsis,Cairo
            </p>
            <div class="d-flex justify-content-between flex-wrap">
              <div class="cert d-flex gap-2 mt-3">
                <img src="../../../assets/labs/Ellipse 46.png" alt="">
                <img src="../../../assets/labs/Ellipse 47.png" alt="">
              </div>
              <button class="btn btn-outline-primary mt-3 rounded-pill">CONTACT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex align-items-center gap-4 bg-light p-4 rounded-5 flex-wrap">
          <img src="../../../assets/labs/alfa.png" alt="">
          <div class="content">
            <p class="name fs-4">Alfa Labs</p>
            <div class="rate d-flex gap-1">
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </div>
            <div class="contact-info flex-wrap d-flex gap-3">
              <p class="phone text-black-50 text-nowrap"> <i class="bi bi-telephone-fill text-danger "></i> +01129398209
              </p>
              <a href="mailto:huss@gmail.com" class="text-decoration-none text-black-50 text-nowrap">
                <i class="bi bi-envelope-fill text-danger"></i> huss&#64;gmail.com</a>

            </div>
            <p class="location text-black-50">
              <i class="bi bi-geo-alt-fill text-danger"></i>
              Ramsis,Cairo
            </p>
            <div class="d-flex justify-content-between flex-wrap">
              <div class="cert d-flex gap-2 mt-3">
                <img src="../../../assets/labs/Ellipse 46.png" alt="">
                <img src="../../../assets/labs/Ellipse 47.png" alt="">
              </div>
              <button class="btn btn-outline-primary mt-3 rounded-pill">CONTACT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex align-items-center gap-4 bg-light p-4 rounded-5 flex-wrap">
          <img src="../../../assets/labs/alfa.png" alt="">
          <div class="content">
            <p class="name fs-4">Alfa Labs</p>
            <div class="rate d-flex gap-1">
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </div>
            <div class="contact-info flex-wrap d-flex gap-3">
              <p class="phone text-black-50 text-nowrap"> <i class="bi bi-telephone-fill text-danger "></i> +01129398209
              </p>
              <a href="mailto:huss@gmail.com" class="text-decoration-none text-black-50 text-nowrap">
                <i class="bi bi-envelope-fill text-danger"></i> huss&#64;gmail.com</a>

            </div>
            <p class="location text-black-50">
              <i class="bi bi-geo-alt-fill text-danger"></i>
              Ramsis,Cairo
            </p>
            <div class="d-flex justify-content-between flex-wrap">
              <div class="cert d-flex gap-2 mt-3">
                <img src="../../../assets/labs/Ellipse 46.png" alt="">
                <img src="../../../assets/labs/Ellipse 47.png" alt="">
              </div>
              <button class="btn btn-outline-primary mt-3 rounded-pill">CONTACT</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>