<app-navbar></app-navbar>
<div class="container my-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="cursor: pointer;" (click)="navigateToTest('123')">
        <div class="header">
          <div class="time">24 hours</div>
          <div class="favorite">
            <i class="fa-brands fa-gratipay"></i>
          </div>
        </div>
        <div class="logo">
          <img src="../../../../assets/labs/burg.png" alt="Biomedical Laboratory Logo">
        </div>
        <span class="lab-name">elburg lab medical</span>
        <div class="test-name">Total Iron Binding Capacity (TIBC)</div>
        <div class="description">
          This test measures the amount of transferrin in the blood, which is...
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <h4 class="labelPrice">119 SR</h4>
          <i class="bi bi-cart-fill"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
