<div class="container p-5">
  <div class="row g-4 align-items-center">
    <div class="col-12 col-md-6 col-lg-3 text-center">
      <img src="../../../assets/serviceIcon1.png" alt="">
      <h1>Convenient Solution</h1>
      <p class="text-black-50">No waiting rooms. At-home services with next day delivery.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3 text-center">
      <img src="../../../assets/serviceIcon2.png" alt="">
      <h1>Certified Labs</h1>
      <p class="text-black-50">DHA certified & CAP accredited partners with the highest standards.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3 text-center">
      <img src="../../../assets/serviceIcon3.png" alt="">
      <h1>Great Value Offering</h1>
      <p class="text-black-50">Top quality expertise & products without paying a premium.</p>
    </div>
    <div class="col-12 col-md-6 col-lg-3 text-center">
      <img src="../../../assets/serviceIcon4.png" alt="">
      <h1>Data Confidentiality</h1>
      <p class="text-black-50">Completely discreet information & entirely private journeys.</p>
    </div>
  </div>
</div>