<app-navbar></app-navbar>
<app-landing></app-landing>

<div class="container mt-4">

  <div class="row my-2">
    <div class="col-12 col-md-8">
      <h3>Who Us</h3>
      <p class="about-us fs-5">
        At Healthcare Hub, we believe in providing comprehensive healthcare
        services all in one convenient location. Our mission is to ensure that
        you receive the highest quality care without the hassle of navigating
        multiple facilities. Healthcare Hub is more than a medical center; it's
        a community dedicated to health and wellness. We are committed to
        providing an inclusive, respectful, and supportive environment where
        every patient is valued and empowered.
      </p>
    </div>
    <div class="col-12 col-md-4">
      <img src="assets/contact-back.png" alt="" class="rounded-4 img-fluid" />
    </div>
  </div>
</div>

<app-work></app-work>
<div class="container mt-5">
  <h3 class="mb-4">Why Healthcare Hub</h3>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 border-0 shadow">
        <div class="card-body text-center">
          <img
            src="https://tahlili.sa/assets/images/WhyTahlili/WhyTahliliImg1.png"
            alt="Service 1"
            class="img-fluid mb-3"
          />
          <p class="card-title mb-3 ">Precision Home Appointments</p>
          <p class="card-text">
            At Healthcare Hub, we offer precise scheduling for home
            appointments, ensuring dedicated support at your convenience.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
      <div class="card h-100 border-0 shadow">
        <div class="card-body text-center">
          <img
            src="https://tahlili.sa/assets/images/WhyTahlili/WhyTahliliImg2.png"
            alt="Service 2"
            class="img-fluid mb-3"
          />
          <p class="card-title mb-3">Specialized Genetic Medicine</p>
          <p class="card-text">
            Healthcare Hub provides individualized diagnostics and genetic
            disease packages through specialized medical clinics.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="card h-100 border-0 shadow">
        <div class="card-body text-center">
          <img
            src="https://tahlili.sa/assets/images/WhyTahlili/WhyTahliliImg3.png"
            alt="Service 3"
            class="img-fluid "
          />
          <p class="card-title ">Remote Virtual Healthcare</p>
          <p class="card-text">
            Our virtual healthcare clinics at Healthcare Hub cater to all your
            family’s needs across all regions.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 pt-5 pb-5">
      <div class="card h-100 border-0 shadow">
        <div class="card-body text-center">
          <img
            src="https://tahlili.sa/assets/images/WhyTahlili/WhyTahliliImg6.png"
            alt="Consultation Image"
            class="img-fluid "
          />
          <p class="card-title">
            Medical Consultations for Children's Behavior
          </p>
          <p class="card-text">
            Specialized medical clinics and consultations for children's
            behavior and mental disorders.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 pt-5 pb-5">
      <div class="card h-100 border-0 shadow">
        <div class="card-body text-center">
          <img
            src="https://tahlili.sa/assets/images/WhyTahlili/WhyTahliliImg5.png"
            alt="Accessing Nearest Laboratories"
            class="img-fluid "
          />
          <p class="card-title ">Access to Nearest Laboratories</p>
          <p class="card-text">
            At Healthcare Hub, we enable you to easily access the nearest
            laboratories and compare prices effortlessly.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-test-demo></app-test-demo>
<app-labs-demo></app-labs-demo>
<app-ask-now></app-ask-now>

<app-client-rate></app-client-rate>
<div class="container-fluid px-0">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3438.6597094614035!2d31.202701359855553!3d30.474075198192292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f7df5645a794dd%3A0xf23e10419a7decdf!2z2YPZhNmK2Kkg2KfZhNit2KfYs9io2KfYqiDZiNin2YTYsNmD2KfYoSDYp9mE2KfYtdi32YbYp9i52YogLSDYrNin2YXYudipINio2YbZh9in!5e0!3m2!1sar!2seg!4v1718919289412!5m2!1sar!2seg"
    class="w-100"
    height="600"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<app-footer></app-footer>
