<app-navbar></app-navbar>
<div class="container">
  <div class="display-3 text-center mb-4">Search in Health Care Doctors</div>
  <div class="m-auto col-12 col-md-6 mb-4">
    <div class="d-flex">
      <input
        type="text"
        class="w-100 p-3 border-1 rounded-start-pill"
        placeholder="Search for a doctor..."
        [(ngModel)]="searchTerm"
      />
      <button class="btn btn-success opacity-75 rounded-end-pill px-5">
        Find
      </button>
    </div>
  </div>
  <div class="row g-3 justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4"
      *ngFor="let doctor of filteredDoctors"
    >
      <div class="card curser-pointer shadow border-0 border-start border-primary" [routerLink]="['/doctor',doctor.id]">
        <div class="card-body text-center">
          <div class="d-flex align-items-center justify-content-between">
            <img
              src="{{ doctor.pictureUrl }}"
              class="img-fluid object-fit-cover rounded-pill"
              alt=""
              style="width: 80px; height: 80px"
            />
            <div class="text-start">
              <h2 class="card-title m-0 text-start">{{ doctor.name }}</h2>
              <p class="card-text m-0">{{ doctor.specialty }}</p>
            </div>
          </div>
          <div class="d-flex mt-3 justify-content-between">
            <button class="btn btn-sm btn-outline-danger">Take Appointment<i class="ms-2 bi bi-journal-medical"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
