<app-navbar></app-navbar>
<div class="container mt-4">
    <!-- Header -->
    <div class="row">
      <div class="col">
        <h2>General Medicine Clinic</h2>
        <p>Select the consultation date and the appropriate time for the appointment.</p>
      </div>
    </div>
  

  
    <!-- Filters -->
    <div class="row">
       <!--  filter  -->
      <div class="col-md-3">
        <div class="list-group">
          <h4>Search Filters</h4>
          
          <!-- Gender Filter -->
          <div class="list-group-item">
            <h5>Doctor's Gender</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="genderMale">
              <label class="form-check-label" for="genderMale">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="genderFemale">
              <label class="form-check-label" for="genderFemale">
                Female
              </label>
            </div>
          </div>
          
          <!-- Experience Filter -->
          <div class="list-group-item">
            <h5>Experience</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="experience" id="expLess5">
              <label class="form-check-label" for="expLess5">
                Less than 5 years
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="experience" id="exp5to10">
              <label class="form-check-label" for="exp5to10">
                5 to 10 years
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="experience" id="expMore10">
              <label class="form-check-label" for="expMore10">
                More than 10 years
              </label>
            </div>
          </div>
  
          <!-- Price Filter -->
          <div class="list-group-item">
            <h5>Consultation Price</h5>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="price" id="priceOneTime">
              <label class="form-check-label" for="priceOneTime">
                One-time
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="price" id="priceSubscription">
              <label class="form-check-label" for="priceSubscription">
                Subscription
              </label>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Doctor Information -->
      <div class="col-md-9">
        <div class="row">
            <div class="col-md-3 my-3">
                <label for="consultationDate">Consultation Date</label>
                <input type="date" id="consultationDate" class="form-control">

            </div>
        </div>
        <div class="card" *ngFor="let doctor of doctors">
          <div class="card-body">
            <h5 class="card-title">{{ doctor.name }}</h5>
            <p class="card-text">{{ doctor.specialty }}</p>
            <p class="card-text">Experience: 5 years</p>
            <div *ngFor="let shift of doctor.shift">
              <p class="card-text">
                <strong>Shift:</strong> {{ formatShift(shift.startTime, shift.endTime) }}
              </p>
            </div>
            <p class="card-text"><strong>Price: {{ doctor.fees }} SAR</strong></p>
            <p class="card-text text-danger" *ngIf="!doctor.shift.length">No available appointments</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>