<!-- nav -->
<app-navbar></app-navbar>

<div class="container">
  <div class="display-3 text-center mb-4">Search in Health Care Drugs</div>
  <div class="m-auto col-12 col-md-6 mb-4">
    <div class="d-flex">
      <input
        type="text"
        class="w-100 p-3 border-1 rounded-start-pill"
        placeholder="Search for a medicine..."
        [(ngModel)]="searchTerm"
      />
      <button class="btn btn-success opacity-75 rounded-end-pill px-5">
        Find
      </button>
    </div>
  </div>
  <div class="row g-3 justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4"
      *ngFor="let medicine of filteredMedicines"
    >
      <div class="p-3 border rounded-3 curser-pointer" [routerLink]="['/medicine',medicine.id]">
        <div class="d-flex justify-content-between align-items-center">
          <img
            src="{{ medicine.picturUrl }}"
            class="rounded-circle me-3"
            alt="{{ medicine.name }}"
            style="width: 80px; height: 80px; object-fit: cover"
          />
          <h2 class="h5 mb-0 text-truncate">
            {{ medicine.name }}
          </h2>
        </div>
        <p class="text-end fw-bold fs-5 mb-3">{{ medicine.price }} EGP</p>
        <button
          class="btn btn-sm btn-outline-primary rounded-pill d-block ms-auto"
          (click)="addToCart(medicine); $event.stopPropagation()"
        >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
