<!-- nav -->
<app-navbar></app-navbar>

<!-- section 1 -->
<section class="hero">
  <div class="search-container">
    <form class="search-form">
      <input type="text" placeholder="Search for drugs in our store" />
      <button type="submit">
        <!-- Using a font-awesome icon for search -->
        <i class="fa fa-search"></i>
        find drug
      </button>
    </form>
  </div>
  <!-- part2 -->
  <div class="hero-content">
    <div>
      <h1>We can get your Drug</h1>
      <h1>prescriptions to you</h1>
    </div>
    <p>
      We have all the drugs your doctor prescribed for your <br />health and
      what's more, we can get it to you
    </p>
    <!-- <a routerLink="/learn-more" class="btn">Learn More</a> -->
  </div>
</section>
<!-- secction 2 -->
<!-- Centered Title -->
<div id="centered-title">
  <h1>Key Benefits</h1>
</div>

<!-- Two Column and Two Row  -->
<div class="container">
  <div class="column">
    <div class="row">
      <div>
        <h2>All your medicine <br />needs in one place</h2>
        <ul>
          <li>Search and find all kinds of drugs</li>
          <li>We have drugs for special case treatments</li>
          <li>Get notified when your drug is available</li>
        </ul>
        <div class="cta-button">
          <a href="#">Get Prescription</a>
          <i class="bi bi-chevron-double-right"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <img
        class="img2"
        src="../../../assets/images/body-avatar2.png"
        alt="Image 2"
      />
    </div>
  </div>
  <div class="column">
    <div class="row">
      <img
        class="img1"
        src="../../../assets/images/body-avatar1.png"
        alt="Image 1"
      />
    </div>
    <div class="row">
      <div class="sec-ul">
        <h2>Get your drugs at your doorstep</h2>
        <ul>
          <li>Get straigh delivery to your doorstep</li>
          <li>We deliver within 24 hrs of request</li>
          <li>We guarantee speedily response</li>
        </ul>
        <div class="cta-button">
          <a href="#">Get Prescription</a>
          <i class="bi bi-chevron-double-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>
