.hero {
  background-image: url("../../../../assets/images/pharmacy-back.png");
  padding: 80px 0;
  height: 590px;

  background-size: cover;

  color: white;
}
.search-container {
  position: absolute;
  top: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-form {
  display: flex;
  width: 40%;
  height: 50px;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 25px;
  overflow: hidden;
}
.search-form input {
  padding: 0px 25px 0px 25px;
  border: none;
  text-align: left;
  outline: none;

  width: 70%;
}
.search-form button {
  background-color: #e46363;
  border: none;

  width: 30%;
  border-radius: 0 25px 25px 0;
  color: white;
  font-size: 17px;
}
.search-form button:hover {
  background-color: #d34444;
}
.hero-content {
  box-sizing: border-box;
  text-align: left;
  padding-top: 8%;
  margin-left: 12%;
  margin-top: 80px;
}
.hero-content h1 {
  font-family: "Abhaya Libre", serif;
  font-size: 350%;
  line-height: 40px;
}
.hero-content div {
  margin-bottom: 70px;
}
.hero-content p {
  line-height: 20px;
}
// section 2
#centered-title {
  text-align: center;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 50vh;
}

.column {
  min-width: 200px;
  flex: 1;
}

.row {
  padding: 2rem;
}

.row p {
  margin: 10px 0;
}

.img1 {
  max-width: 80%;
  height: 390px;
  margin-left: 17%;
}
.img2 {
  max-width: 60%;
  height: 300px;
}
.row div {
  padding-left: 2rem;
  margin-bottom: 3rem;
  line-height: 30px;
}
.row ul {
  list-style: inside;
}
.cta-button {
  padding: 5px 2px;

  border: 2px solid #f27774;
  border-radius: 25px;
  width: 45%;
}
.cta-button a {
  text-decoration: none;
  color: #f27774;
  margin-right: 15px;
}
.cta-button i {
  color: #f27774;
}
.sec-ul {
  margin-left: 17%;
}
.cta-button:hover a,
.cta-button:hover i {
  color: #fff;
}
.cta-button:hover {
  background-color: #f27774;
  color: #fff;
}
#centered-title h1 {
  display: inline-block;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 3px solid #404040;
}
