<!-- medicine-list.component.html -->
<app-navbar></app-navbar>

<div class="container my-3">
  <div class="row">
    <div class="col-md-4" *ngFor="let medicine of medicines">
      <div class="card" style="cursor: pointer;" (click)="navigateToMedicineDetails(medicine.id)">
        <div class="header">
          <div class="time">Available</div> <!-- Customize as needed -->
        </div>
        <div class="logo">
          <img [src]="medicine.picturUrl" alt="Medicine Logo">
        </div>
        <div class="lab-name">{{ medicine.name }}</div>
        <div class="lab-name">{{ medicine.description }}</div>

        <div class="d-flex align-items-center justify-content-between">
          <h4 class="labelPrice">{{ medicine.price }} SR</h4>
          <i class="bi bi-cart-fill"></i> <!-- Adjust as per your shopping cart icon -->
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
