<div class="container mt-5">
  <h1 class="text-center fw-bold fs-1 p-3">How Does It Work</h1>
  <div class="row p-5 align-items-center">
    <img src="../../../assets/work/Group 42444.png" alt="" class="d-block col-12 col-md-6">
    <div class="col-12 col-md-6 px-5 text-center text-md-start my-3">
      <h2>Book your tests</h2>
      <p class="lh-lg text-black-50">Book your test Choose the time & <br>place that best suits you for your blood
        sample collection by a certified
        nurse.</p>
    </div>
  </div>
  <div class="row p-5 align-items-center">
    <img src="../../../assets/work/Group 42456.png" alt="" class="d-block col-12 col-md-6 order-first order-md-last">
    <div class="col-12 col-md-6 px-5 text-center text-md-start my-3">
      <h2>Receive results on your personal email</h2>
      <p class="lh-lg text-black-50">Get your results explained to you in simple,<br> easy to understand terms along
        with actionable insights</p>
    </div>
  </div>
  <div class="row p-5 align-items-center">
    <img src="../../../assets/work/Group 42444.png" alt="" class="d-block col-12 col-md-6">
    <div class="col-12 col-md-6 px-5 text-center text-md-start my-3">
      <h2>Improve & Retest</h2>
      <p class="lh-lg text-black-50"> Keep testing to track your levels and<br> ensure you're always on top of your
        health!</p>
    </div>
  </div>
</div>