<div class="container  container-works my-5">
  <h1 class=" fs-1 p-3">Main Service</h1>

  <div class="row g-3">
    <div class="col-lg-3 col-md-6 col-6">
      <div class="card service-card   shadow-sm w-100 h-100">
        <img src="../../../../assets/images/doctor .jpg" class="card-img-top " alt="Doctor Image">
        <div class="card-body">
          <h5 class="card-title">Medical Consultations</h5>
          <p class="card-text">Providing accurate medical consultations and diagnoses by specialists in various medical fields.</p>
          <a routerLink="/clinics" class="btn btn-outline-primary">Consult Now</a>
        </div>
      </div>
    </div>
    <!-- Lab Tests Card -->
    <div class="col-lg-3 col-md-6 col-6 ">
      <div class="card service-card  shadow-sm w-100 h-100">
        <img src="../../../../assets/images/LaboratoryServices_48.jpg" class="card-img-top " alt="Lab Image">
        <div class="card-body">
          <h5 class="card-title">Laboratory services</h5>
          <p class="card-text">Get precise and comprehensive lab tests with accurate results from certified professionals.</p>
          <a  class="btn btn-outline-primary">Book Now</a>
        </div>
      </div>
    </div>
    <!-- Pharmacy Card -->
    <div class="col-lg-3 col-md-6 col-6 ">
      <div class="card service-card  shadow-sm w-100 h-100">
        <img src="../../../../assets/images/pharmacy.jpg" class="card-img-top " alt="Pharmacy Image">
        <div class="card-body">
          <h5 class="card-title">Pharmacy</h5>
          <p class="card-text">Purchase your medicines conveniently with professional guidance on proper usage.</p>
          <a href="#" class="btn btn-outline-primary">Shop Now</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <div class="card service-card  w-100 h-100 shadow-sm">
        <img src="../../../../assets/images/onlineMedical.avif" class="card-img-top " alt="Medical Consultation Online Image">
        <div class="card-body">
          <h5 class="card-title">Medical Consultation</h5>
          <p class="card-text">Get professional medical advice and diagnosis from  home  online consultation services.</p>
          <a href="#" class="btn btn-outline-primary">Consult Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
