<div class="container mt-5">
  <mat-card>
    <mat-card-title class="text-center h2">Reset Password</mat-card-title>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit(resetPasswordForm)">
        <input type="hidden" formControlName="Email">
        <mat-form-field class="w-100">
          <mat-label>New Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="NewPassword" required
            minlength="8" maxlength="30">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="resetPasswordForm.controls['NewPassword'].invalid && (resetPasswordForm.controls['NewPassword'].dirty || resetPasswordForm.controls['NewPassword'].touched)">
            Password must be between 8 and 30 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hideConfirm ? 'password' : 'text'" id="confirmPassword"
            formControlName="ConfirmPassword" required minlength="8" maxlength="30">
          <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="resetPasswordForm.controls['ConfirmPassword'].invalid && (resetPasswordForm.controls['ConfirmPassword'].dirty || resetPasswordForm.controls['ConfirmPassword'].touched)">
            <span *ngIf="resetPasswordForm.controls['ConfirmPassword'].errors?.['required']">Confirm password is
              required.</span>
            <span *ngIf="resetPasswordForm.hasError('notMatched', ['ConfirmPassword'])">Passwords do not match.</span>
          </mat-error>
        </mat-form-field>
        <input type="hidden" formControlName="Token">
        <div class="text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="loading || resetPasswordForm.invalid">
            <ng-container *ngIf="!loading">Reset Password</ng-container>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>