<app-navbar></app-navbar>

<div class="container my-4">

  <div class="card">
    <div class="header">
        <div class="time">24 hours</div>
        <div class="favorite">
          <i class="fa-brands fa-gratipay"></i>
        </div>
    </div>


<div class="col-md-6">
  <div class="lab-name">Biomedical Laboratory</div>
    <div class="test-name">Total Iron Binding Capacity (TIBC)</div>
    <div class="description">
        This test measures the amount of transferrin in the blood, which is capable of binding with iron. It assesses the blood's capacity to carry iron, crucial for iron transport throughout the body. This test does not require fasting.
    </div>

</div>
<div class="col-md-6">
<img src="{{testDetails.imageUrl}}" alt="">
</div>



    <div class="footer">
        <div class="price">Price Total Iron Binding Capacity (TIBC) : 119 SAR</div>
        <div class="actions">
            <button class="book-button">Book Now</button>
        </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
