.nav-item a{

font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: .3s all;
}
.navbar{
  background: var(--Neutral-White, #FFF);
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}
.nav-item a:hover{
  color: var(--Primary-500, #167AD8);
}