
  <div class="bg-white rounded-3 p-3 mt-3">
    <h2 class="fs-3">Feedback</h2>
    <div class="d-flex flex-column gap-2">
      <div class="d-flex align-items-center gap-2 bg-body-secondary rounded-pill py-1 px-2">
        <img src="../../../../assets/client/Ellipse 37.png" alt="" class="profile">
        <div>
          <p class="fs-5 fw-medium m-0">John Doe</p>
          <p class="text-black-50">hay que hablar de algo...</p>
          <small>just a moment</small>
        </div>
      </div>
      <div class="d-flex align-items-center gap-2 bg-body-secondary rounded-pill py-1 px-2">
        <img src="../../../../assets/client/Ellipse 37.png" alt="" class="profile">
        <div>
          <p class="fs-5 fw-medium m-0">John Doe</p>
          <p class="text-black-50">hay que hablar de algo...</p>
          <small>just a moment</small>
        </div>
      </div>
      <div class="d-flex align-items-center gap-2 bg-body-secondary rounded-pill py-1 px-2">
        <img src="../../../../assets/client/Ellipse 37.png" alt="" class="profile">
        <div>
          <p class="fs-5 fw-medium m-0">John Doe</p>
          <p class="text-black-50">hay que hablar de algo...</p>
          <small>just a moment</small>
        </div>
      </div>
    </div>
  </div>
