<app-navbar></app-navbar>

<div class="container mt-5">
  <div *ngIf="doctorDetails" class="row">
    <div class="col-md-4">
      <div class="card shadow-sm">
        <img [src]="doctorDetails.pictureUrl" alt="Doctor's Profile Picture" class="card-img-top rounded-circle"
          style="width: 200px; height: 200px; object-fit: cover;">
        <div class="card-body text-center">
          <h5 class="card-title fs-3 fw-bold">{{ doctorDetails.name }}</h5>
          <p class="card-text fs-5 text-muted">{{ doctorDetails.specialty }}</p>
          <button class="btn btn-sm btn-danger">
            Take Appointment <i class="bi bi-journal-medical ms-2"></i>
          </button>
          <button class="btn btn-sm btn-primary ms-2">
            Chat <i class="bi bi-chat-dots ms-2"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card shadow-sm h-100">
        <div class="card-body">
          <h5 class="card-title fs-4">About</h5>
          <p class="card-text fs-5">{{ doctorDetails.about }}</p>
          <hr>
          <div class="row">
            <div class="col">
              <p class="card-text fs-6">
                <i class="bi bi-cash-coin text-primary me-2"></i>{{ doctorDetails.fees }} EGP
              </p>
            </div>
            <div class="col">
              <p class="card-text fs-6">
                <i class="bi bi-telephone text-primary me-2"></i>{{ doctorDetails.phone }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
