.container{
    margin-top: 100px;
}
/* Add custom styles here */
.card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    color: #333;
  }
  
  .card-text {
    color: #666;
  }
  