<div class="footer p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <img src="../../../../assets/logo/logo.png" alt="" class="logo">
        <p class="py-4">AT-HOME PRIMARY CARE EXPERIENCE AND ON-SITE FLOW MANAGEMENT</p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <ul class="fw-bold">
          Important Links
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">Home</a>
          </li>
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">Pharmacy</a>
          </li>
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">Labs</a>
          </li>
          <li>
            <a routerLink="/contact" class="fw-light text-decoration-none text-black-50 p-1 d-block">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <ul class="fw-bold">
          Help Center
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">Dashboard</a>
          </li>
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">Pharmacy</a>
          </li>
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">Labs</a>
          </li>
          <li>
            <a routerLink="/contact" class="fw-light text-decoration-none text-black-50 p-1 d-block">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <ul class="fw-bold">
          Gat In Touch
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">
              <i class="bi bi-phone text-danger"></i>
              01129542518</a>
          </li>
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">
              <i class="bi bi-map text-danger"></i>
              BFCAI</a>
          </li>
          <li>
            <a href="" class="fw-light text-decoration-none text-black-50 p-1 d-block">
              <i class="bi bi-mailbox text-danger"></i>
              Labs</a>
          </li>
        </ul>
      </div>

    </div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="m-0">©2024 HealthCare-Hub All rights reserved</p>
      <div class="social d-flex gap-2 align-items-center">
        <i class="bi bi-facebook text-danger"></i>
        <i class="bi bi-instagram text-danger"></i>
        <i class="bi bi-twitter-x text-danger"></i>
      </div>
    </div>
  </div>
</div>