<div class="footer">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 text-center text-md-start mb-4 mb-lg-0">
                <img src="../../../../assets/logo/logo.jpg" alt="Logo" class="logo mb-3">
                <p>Innovative services for medical solutions</p>
      
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                <h5 class="fw-bold mb-3">Important Links</h5>
                <ul class="important-links">
                    <li><a href="#" class="text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-decoration-none">Pharmacy</a></li>
                    <li><a href="#" class="text-decoration-none">Labs</a></li>
                    <li><a routerLink="/contact" class="text-decoration-none">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-4 mb-md-0">
                <h5 class="fw-bold mb-3">Help Center</h5>
                <ul class="help-center">
                    <li><a href="#" class="text-decoration-none">Dashboard</a></li>
                    <li><a href="#" class="text-decoration-none">Pharmacy</a></li>
                    <li><a href="#" class="text-decoration-none">Labs</a></li>
                    <li><a routerLink="/contact" class="text-decoration-none">FAQ</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="fw-bold mb-3">Get In Touch</h5>
                <ul class="get-in-touch">
                    <li><a href="#" class="text-decoration-none">
                        <i class="fas fa-phone me-2"></i>01030094711</a>
                    </li>
                    <li><a href="#" class="text-decoration-none">
                        <i class="fas fa-map-marker-alt me-2"></i>BFCAI</a>
                    </li>
                    <li><a href="#" class="text-decoration-none">
                        <i class="fas fa-envelope me-2"></i>info@healthcare.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-4">
            <p class="m-0">©2024 HealthCare-Hub All rights reserved</p>
            <div class="social d-flex gap-3">
                <a href="#" class="text-decoration-none "><i class="fab fa-facebook"></i></a>
                <a href="#" class="text-decoration-none "><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-decoration-none "><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-decoration-none "><i class="fab fa-youtube"></i></a>
      
            </div>
        </div>
      </div>
</div>
