<app-navbar></app-navbar>
<div class="container text-center mt-4">
  <h1>more info</h1>
  <h1 style="color: #1963a0;">
    Healthcare Hub is a complete service at the same place
  </h1>

  <div class="row mt-5 align-items-center g-3">
    <div class="col-12 col-md-6 text-start">
      <h2>Who Us</h2>
      <p class="text-black-50 fs-4">
        At Healthcare Hub, we believe in providing comprehensive healthcare
        services all in one convenient location. Our mission is to ensure that
        you receive the highest quality care without the hassle of navigating
        multiple facilities. Healthcare Hub is more than a medical center; it's
        a community dedicated to health and wellness. We are committed to
        providing an inclusive, respectful, and supportive environment where
        every patient is valued and empowered.
      </p>
    </div>
    <div class="col-12 col-md-6">
      <img
        src="../../../../assets/contact-back.png"
        alt=""
        class="rounded-4 img-fluid"
      />
    </div>
  </div>
<hr>
  <div class="row align-items-center mt-4">
    <div class="col-12 col-md-6 text-start">
      <div>
        <i class="bi bi-chat-left d-inline-block p-2 rounded-3 fs-1 opacity-75 bg-success-subtle"></i>
        <h2>Our Mesasge</h2>
        <p class="text-black-50 fs-5">
          Providing innovative solutions that enable individuals and families in
          the community to access medical services easily and conveniently, at
          reasonable prices.
        </p>
      </div>
    </div>
  </div>
</div>
