<div class="container">
    <div class="row">
        <div class="question-box d-flex justify-content-between align-items-center">
            <div>
                <h2>Do you have a medical question?</h2>
                <p>Send your medical questions and get an answer from a specialist doctor.</p>
                <button class="btn btn-primary2-outlined w-25"> Ask Now </button>
            
            </div>
              
            <div>
                <img src="../../../assets/logo/logo.jpg" class="" alt="" />
            </div>
        </div>
    
       
    </div>
  
</div>