.question-box {
    background: #EDFCFF;
    border-radius: 8px;
    padding: 2.5rem;
    margin-bottom: 3rem;
}
.btn-primary2-outlined {
    font-family: Vazirmatn !important;
    color: #00a1b0 !important;
    border: #00a1b0 1px solid !important;
    background-color: white !important;
}
p{
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #00A1B0;
}
h2{
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #123143;
}
img{
    width: 160px;
}