<h1 mat-dialog-title>Edit Test</h1>
<div mat-dialog-content>
  <form [formGroup]="testformGroup" >
    <div class="row p-2">
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Test Name</mat-label>
          <input matInput placeholder="CPC" formControlName="Name">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description......" formControlName="Description">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-100">
          <mat-label>Price</mat-label>
          <input matInput placeholder="20" formControlName="Price" type="number">
        </mat-form-field>
      </div>
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary d-block" (click)="img.click()"><i class="bi bi-upload me-2"></i>Add Image</button>
        <input type="file" (change)="onFileChange($event)" hidden formControlName="Image" #img>
        <img [src]="previewUrl" alt="" class="img-thumbnail w-50 m-2">
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="justify-content-end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmitForm()" [disabled]="testformGroup.invalid" mat-dialog-close>Edit</button>
</div>