<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Contact Us</h2>
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" id="firstName" placeholder="First Name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" placeholder="Last Name" class="form-control" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="email@mail.com" class="form-control" />
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="tel" id="phone" placeholder="05xxxxxxxx" class="form-control" />
        </div>
        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea id="message" placeholder="Enter your message in detail" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary w-100">Submit</button>
      </form>
    </div>
    <div class="col-md-5 offset-1">
      <img src="../../../../assets/images/LaboratoryServices_48.jpg" class="w-100 h-100" alt="lab service">
    </div>
  </div>
</div>