<div class="container p-5">
  <h1 class="text-center fw-light pb-4">What Clients Say About Us</h1>
  <div class="d-flex align-items-center text-center justify-content-evenly">
    <button class="btn btn-outline-danger rounded-circle">
      <i class="bi bi-arrow-left"></i>
    </button>
    <div class="te">
      <img src="../../../assets/client/Ellipse 37.png" alt="">
      <div class="rate d-flex gap-1 justify-content-center mt-3">
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star-fill text-warning"></i>
        <i class="bi bi-star"></i>
      </div>
      <p>Great App! <br>"Great App I Love it, Easy to use and Staff are very Great and User Friendly"</p>
    </div>
    <button class="btn btn-outline-danger rounded-circle d-flex justify-content-center align-items-center">
      <i class="bi bi-arrow-right"></i>
    </button>

  </div>
</div>