<div class="container-fluid p-2">
  <button
    class="btn btn-outline-primary rounded-2 ms-auto d-block py-1 px-3"
    (click)="openAddNurseDialog()"
  >
    <i class="bi-plus fs-5"></i>Add Nurse
  </button>
</div>

<div class="row">
  <div *ngFor="let nurse of Nurses" class="col-md-4 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h1 class="card-title text-primary">{{ nurse.name }}</h1>
        <p class="card-text mb-1"><strong>Email:</strong> {{ nurse.email }}</p>
        <p class="card-text mb-1"><strong>Gender:</strong> {{ nurse.gender }}</p>
        <p class="card-text mb-1"><strong>Phone:</strong> {{ nurse.phone }}</p>
        <p class="card-text mb-1"><strong>Specialty:</strong> {{ nurse.specialty }}</p>
      </div>
      <div class="card-footer bg-transparent border-top-0 d-flex justify-content-end gap-2">
        <button class="btn btn-sm btn-outline-primary" (click)="editNurseDialog(nurse)">
          <i class="bi-pencil"></i> Edit
        </button>
        <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" >
          <i class="bi-trash"></i> Delete
        </button>
      </div>
    </div>
    <div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="fs-4">Are you sure you want to delete this Nurse?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="removeNurse(nurse.id)">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<!-- Delete Modal -->


