@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
body {
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
}
.logo {
  width: 66px;
}
ul,li {
  list-style-type: none;
}
input{
  box-shadow:none ;
  border: none;
}
.profile {
  width: 60px;
}

/* Width and Height of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey */
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #888; /* Grey */
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Dark grey */
}
