<div class="container-fluid vh-100 bg-light">
  <div class="row gx-4 vh-100 position-relative" >
    <!-- Sidebar -->
    <div class="side-bar col-2 bg-white p-3 vh-100 shadow-sm">
      <div class="d-flex flex-column justify-content-between vh-100 gap-3 align-items-center align-items-lg-start">
        <!-- Logo and Name -->
        <a href="" class="d-flex align-items-center text-decoration-none text-dark">
          <img src="../../../../../assets/logo/logo.jpg" alt="HealthCare Logo" class="logo rounded-circle" />
          <p class="m-0 ps-2 fw-bold fs-6 d-none d-lg-block">HealthCare</p>
        </a>

        <!-- Navigation -->
        <div class="controls flex-fill">
          <div class="d-flex flex-column gap-4 m-2">
            <button type="button" class="btn text-start" routerLink="appointments" routerLinkActive="btn-outline-primary rounded-pill">
              <div class="d-flex align-items-center">
                <i class="bi bi-calendar-check fs-5 text-primary"></i>
                <p class="d-none d-lg-block m-0 ps-2">Appointments</p>
              </div>
            </button>
            <button type="button" class="btn text-start" routerLink="feedback" routerLinkActive="btn-outline-primary rounded-pill">
              <div class="d-flex align-items-center">
                <i class="bi bi-suit-heart fs-5 text-danger"></i>
                <p class="d-none d-lg-block m-0 ps-2">feedback</p>
              </div>
            </button>
          </div>
        </div>



      </div>
    </div>

    <!-- Main Content Area -->
    <div class="col-10 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
