<app-navbar></app-navbar>


<div class="m-auto my-5 container">

    <form [formGroup]="changePasswordForm" class="mat-elevation-z2 p-3"  (ngSubmit)="onFormSubmit(changePasswordForm)">
      <h1 class="text-center mb-4">Change Password</h1>
      <mat-form-field class="w-100">
        <mat-label>Current Password</mat-label>
        <input matInput [type]="currentPasswordHide ? 'password' : 'text'" formControlName="currentPassword">
        <button type="button" mat-icon-button matSuffix (click)="currentPasswordHide = !currentPasswordHide" [attr.aria-label]="currentPasswordHide ? 'Hide password' : 'Show password'" [attr.aria-pressed]="currentPasswordHide">
          <mat-icon>{{currentPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls['currentPassword']?.errors?.['required']">Current password is required</mat-error>
      </mat-form-field>
  
      <mat-form-field class="w-100">
        <mat-label>New Password</mat-label>
        <input matInput [type]="newPasswordHide ? 'password' : 'text'" formControlName="newPassword">
        <button type="button" mat-icon-button matSuffix (click)="newPasswordHide = !newPasswordHide" [attr.aria-label]="newPasswordHide ? 'Hide password' : 'Show password'" [attr.aria-pressed]="newPasswordHide">
          <mat-icon>{{newPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].errors?.['required']">New password is required</mat-error>
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].errors?.['minlength']">New password must be at least 8 characters</mat-error>
      </mat-form-field>
  
      <mat-form-field class="w-100">
        <mat-label>Confirm New Password</mat-label>
        <input matInput [type]="confirmNewPasswordHide ? 'password' : 'text'" formControlName="confirmNewPassword">
        <button type="button" mat-icon-button matSuffix (click)="confirmNewPasswordHide = !confirmNewPasswordHide" [attr.aria-label]="confirmNewPasswordHide ? 'Hide password' : 'Show password'" [attr.aria-pressed]="confirmNewPasswordHide">
          <mat-icon>{{confirmNewPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="changePasswordForm.controls['confirmNewPassword'].errors?.['required']">Confirm new password is required</mat-error>
        <mat-error *ngIf="changePasswordForm.controls['confirmNewPassword'].errors?.['notMatched']">New passwords do not match</mat-error>
      </mat-form-field>
  
      <div class="text-center my-3">
      <button  mat-raised-button color="primary" [disabled]="loading || changePasswordForm.invalid">
        <ng-container *ngIf="loading == false">Change Password</ng-container>
        <ng-container *ngIf="loading == true"><mat-spinner diameter="20"></mat-spinner>
        </ng-container>
      </button>
    </div>
    </form>
  
  </div>
  
<app-footer></app-footer>
